body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

.menu {
  display: inline-block;
  background: #222;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu:hover {
  background: #ff0044;
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin: 3px;
}

button {
  background: #ff0044;
  color: white;
  cursor: pointer;
}
